/* FontAwesome for working BootSnippet :> */

// @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.previous {
    background-color: #4CAF50;
    color: black;
    
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
