

<div class="header bg-gradient-danger pb-8 pt-6 pt-md-6">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->




           


        </div>
    </div>
</div>

<div class="pl-lg-4">




    <div class="row">
        <div class="col-lg-6">

            <label for="drpSearchBy" class="col-md-3 col-form-label">Category:</label>
            <select name="searchBy" id="drpSearchBy" class="form-control  col-lg-7" [(ngModel)]="searchby">

                <option value="projectId"> Project id</option>
                <option value="name"> project name</option>
                <option value="email"> project phone</option>
                <option value="phone"> project id</option>

            </select>

        </div>
        <div class="col-lg-6">
            <label for="drpSearchBy" class="col-md-3 col-form-label">SearchBy:</label>
            <div class="input-group input-group-rounded input-group-merge">
                <input type="search"
                    class=" form-control-rounded form-control  fa fa-search col-lg-7  "
                    id="txtSearchText" name="searchText" [(ngModel)]="searchText" 
                    aria-label="Search">
                <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fa fa-search" (click)="onSearchClick()"></span>
                        </div>
                </div>
            </div>



        </div>

    </div>
</div>

<div class="card-header text-center border-0 pt-10 pt-md-6 pb-0 pb-md-6">
    <div class="row-mt-8">
        <button type="button" class="btn btn-success float-left mr-8 col-lg-3 row-mt-10" routerLink="/addAssociate">View and Add
            Associate</button>
        <button type="button" class="btn btn-success float-left col-lg-3" routerLink="/addSkills">Add skills</button>
    </div>
</div>


<div class="card-header border-0">
    <h3 class="mb-0">Employee Table</h3>
</div>
<div class="table-responsive">
    <div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <h5 class="text-dark mb-0">
                           associateFirstName
                        </h5>
                    </th>
                    <th>
                        <h5 class="text-dark mb-0">
                            associateLastName
                        </h5>
                    </th>
                    <th>
                        <h5 class="text-dark mb-0">
                            associateEmail
                        </h5>
                    </th>
                    <th>
                        <h5 class="text-dark mb-0">
                            associateMobile
                        </h5>
                    </th>
                    <th>
                        <h5 class="text-dark mb-0">
                            Update associate
                        </h5>
                    </th>
                    <th>
                        <h5 class="text-dark mb-0">
                            Delete associate
                        </h5>
                    </th>
                </tr>

            </thead>

            <tbody>
                <tr *ngFor="let employee of AssociateSkill;let i=index">
                    <!-- <td>{{employee.associateFirstName | searchTitle:employee.gender}}</td> -->


                    <td>
                        <h5 class="text-dark mb-0">
                    {{employee.certification}}
                    </h5>

                </td>
                    <td>
                            <h5 class="text-dark mb-0">
                        {{employee.rating}}
                        </h5>

                    </td>


                    <td>
                            <h5 class="text-dark mb-0">
                        {{employee.sid.skillName}}
                        </h5>
                    </td>


                    <!-- <td>
                            <h5 class="text-dark mb-0">
                        {{employee.password}}
                        </h5>
                    </td> -->


                    <td>
                            <h5 class="text-dark mb-0">
                        {{employee.aid.associateFirstName}}
                        </h5>
                    </td>




                    <td>
                        <button class="btn btn-success">Update</button>

                    </td>
                    <td>
                        <button class="btn btn-danger">Remove</button>

                    </td>
                </tr>
            </tbody>

        </table>
    </div>

</div>




<p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" >Toggle both elements</button>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" >
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
        <div class="col">
          <div class=" multi-collapse" >
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
      </div>
