<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


<br>
<br><br><br><br><br><br><br>
<div class="row">
    <div class="col-8- mx-auto">
        <div class="form-group form-row">

            <label for="drpSearchby" class="col-form-label col-3"> search by</label>
            <div class="col-9">
                <select name="searchBy" id="drpSearchBy" class="drpsearchBy" [(ngModel)]="searchby">
                    <option value="projectId"> project id</option>
                    <option value="name"> project name</option>
                    <option value="email"> project phone</option>
                    <option value="phone"> project id</option>
                   
                </select>
            </div>
        </div>

        <div class="form-group form-row">
            <label for="drpSearchBy" class="col-form label col-3"> search by</label>
            <div class="col-9">
                <div class="input-group">
                    <input type="text" class="form-control" id="txtSearchText" name="searchText" [(ngModel)]="searchText">
                    <div class="input-group-append" (click)="onSearchClick()">
                      <h6>search</h6>  <!-- <span class="input-group-text"><i class="fa fa-search"></i></fa-search></span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<br><br>
<br>
<div class="row">

    <div class="col-5-md"><button type="button" class="btn btn-success" routerLink="/addAssociate">Add
            Associate</button></div>

    <div class="col-5-md"><button type="button" class="btn btn-success" routerLink="/addSkills">Add skills</button>
    </div>


</div>





<div class="card-header border-0">
    <h3 class="mb-0">Card tables</h3>
</div>
<div class="table-responsive">
    <div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Skill Catagory
                    </th>
                    <th>
                        Skill Name
                    </th>
                    <th>
                        Associates
                    </th>
                    <th>
                        completion ratio
                    </th>
                    <th>
                        update associate
                    </th>
                    <th>
                        Delete associate
                    </th>
                </tr>

            </thead>

            <tbody>
                <tr *ngFor="let employee of AssociateModel;let i=index">
                    <!-- <td>{{employee.associateFirstName | searchTitle:employee.gender}}</td> -->

                    <td>
                        {{employee.associateLastName}}

                    </td>


                    <td>
                        {{employee.associateEmail}}
                    </td>


                    <td>
                        {{employee.password}}
                    </td>


                    <td>
                        {{employee.associateMobile}}
                    </td>




                    <td>
                        <button class="btn btn-success">update</button>

                    </td>
                    <td>
                        <button class="btn btn-danger">remove</button>

                    </td>
                </tr>
            </tbody>

        </table>
    </div>

</div>