<!-- <br><br><br><br><br>
<div class="col-5-md">

    <button type="button" class="btn btn-success" (click)="onaddSkill()">Add skills</button>
</div>

<div class="col-md-10 col-xl-6 mx-auto">
    <div class="card-header">skills </div>
    <div class="card-body">
        <form [formGroup]="addSkills">

            <div class="form-group form-row">
                <div class="col-md-4">
                    label
                </div>
                <div class="col-md-8">
                    input
                </div>

            </div>

            <div class="form-group form-row">

                <div class="col-md-10" formArrayName="skills">
                    <div class="row" *ngFor="let skil of addSkills.get('skills').controls;let i=index"
                        [formGroupName]="i">
                        <div class="col-5">
                            <input type="text" placeholder="skill category" name="skillName" id="skillName"
                                class="form-control" formControlName="SkillCategory" >
                        </div>
                        <div class="col-4">
                            <select name="level" id="level" formControlName="SkillName" class="form-control" >
                                <option value="null"> angular</option>
                                <option> springs</option>
                                <option> c++</option>
                            </select>
                        </div>

                        <div class="col-3" *ngIf="">
                            <button title="send and go back" class="btn btn-danger" type="button" (click)="onRemoveSkills(i)"> Remove</button>
                        </div>

                    </div>
                </div>
            </div>

        </form>

    </div>


</div>

<button class="btn btn-secondary" type="button" (click)="submit()" routerLink="/admin"> submit & goBack</button> -->

<div class="col-md-10 col-xl-6 mx-auto">

    <div class="card-header">skills </div>
    <div class="card-body">
        <div class="row">
            <form  >
                <table>

                    <tr>
                        <td>
                                <input type="text" placeholder="skill category"  name="skillName" class="form-control" [(ngModel)]="skillModel.skillName"
                                >
                        </td>
                        <td>
                                <select [(ngModel)]="skillModel.skillCategory" name="skillCategory" class="form-control">
                                        <option value="angular"> angular</option>
                                        <option value="angular" > springs</option>
                                        <option value="angular"> c++</option>
                                    </select>
                        </td>
                        <td>
                                <button type="button" class="btn btn-success" (click)="onaddSkill()">Add skills</button>

                        </td>
                    </tr>
                </table>
                    
             
               
                   
         
                <div class="col-3">
                    
                </div>

            </form>
        </div>

        <div class="row">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Skill category</th>
                        <th scope="col">Skill name</th>
                        <th>remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let skill of skills ;let i=index">

                        <td>{{skill.skillName}}</td>
                        <td>{{skill.skillCategory}}</td>
                        <td><button title="delete the skill " class="btn btn-danger" type="button"
                                (click)="onRemoveSkills(i)"> Remove</button>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

    </div>


</div>