<div class="header bg-gradient-danger py-4 py-lg-6">
        <div class="container">
            <!-- <button type="button" class="btn btn-outline-default" style="float: right;" routerLink='/login'>Login</button> -->
            <!-- <div class="header-body text-center mb-5"> -->
            <div class="row justify-content-center">
                <h1 class="text-white">Advanced Search </h1>
    
    
            </div>
        </div>
    
        <!-- <div class="searchbox"> -->
        <div class="searchbox ">
            <div class="input-group-prepend  ">
    
                <input [(ngModel)]="searchTerm" type="search" (keyup)="search()" class="form-control" autofocus>
            </div>
        </div>
    </div>
    
    <div class="container-fluid mt--4 ">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Associate Table</h3>
                    </div>
    
    
                    <div class="table-responsive">
                        <div>
    
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <h5 class="text-dark mb-0">
                                                First Name
                                            </h5>
                                        </th>
                                        <th>
                                            <h5 class="text-dark mb-0">
                                                Last Name
                                            </h5>
                                        </th>
                                        <th>
                                            <h5 class="text-dark mb-0">
                                                Email
                                            </h5>
                                        </th>
                                        <th>
                                            <h5 class="text-dark mb-0">
                                                Country
                                            </h5>
                                        </th>
                                        <th>
                                            <h5 class="text-dark mb-0">
                                                Skill Name
                                            </h5>
                                        </th>
    
                                        <th>
                                            <h5 class="text-dark mb-0">
                                                Skill Category
                                            </h5>
                                        </th>
                                    </tr>
    
                                </thead>
    
                                <tbody>
                                    <tr *ngFor="let employee of AssociateSkill | paginate : {itemsPerPage:3,currentPage:p} ;let i=index">
                                        <!-- <td>{{employee.associateFirstName | searchTitle:employee.gender}}</td> -->
    
    
                                        <td>
                                            <h5 class="text-dark mb-0">
                                                {{employee.aid.associateFirstName}}
                                            </h5>
    
                                        </td>
                                        <td>
                                            <h5 class="text-dark mb-0">
                                                {{employee.aid.associateLastName}}
                                            </h5>
    
                                        </td>
    
                                        <td>
                                            <h5 class="text-dark mb-0">
                                                {{employee.aid.associateEmail}}
                                            </h5>
    
                                        </td>
                                        <td>
                                            <h5 class="text-dark mb-0">
                                                {{employee.aid.country}}
                                            </h5>
    
                                        </td>
    
                                        <td>
                                            <h5 class="text-dark mb-0">
                                                {{employee.sid.skillName}}
                                            </h5>
                                        </td>
    
                                        <td>
                                            <h5 class="text-dark mb-0">
                                                {{employee.sid.skillCategory}}
                                            </h5>
                                        </td>
    
    
    
    
                                    </tr>
                                </tbody>
                                <pagination-controls (pageChange)="p=$event"> </pagination-controls>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>