<div class="header bg-gradient-danger pb-6 pt-5 pt-md-6">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
    
            </div>
        </div>
    </div>
    
    
    <div class="col-md-12 col-xl-10 mx-auto">
    
        <div class="card-header"><h1> New Skills </h1> </div>
        <div class="card-body">
            <div class="col-md-12">
                <form>
                    <table>
                        <tr>
                            
                                <td  scope="col">
                                <select name="selected_Category" [(ngModel)]="skillModel.skillCategory" [(ngModel)]="selected_Category" class="form-control" (change)="onCategorySelected(selected_Category)">
                                    <option *ngFor="let category of skillCategory">{{category}}</option>
                                </select>
                                </td>
                          
                            
                                <td>
                                    <select id="state_dropdown" name="selected_skillname"[(ngModel)]="skillModel.skillName"  [(ngModel)]="selected_skillname"  class="form-control" (change)="onSkillSelected(selected_skillname)">
                                        <option *ngFor="let name of skillName">{{name}}</option>
                                    </select>
                                </td>
                          
                            <td>
                                <button type="button" class="btn btn-block btn-primary btn-outline-success"
                                    (click)="onaddSkill()"><span class="glyphicon glyphicon-plus"></span> Add
                                    Skills</button>


                            </td>
                            <td>
                                <button class="btn btn-outline-default" routerLink="/admin"> <img src="./assets/img/brand/back.png"> </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    
    
        <div class="row mt-5">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header bg-transparent border-0">
                        <h3 class="text-dark mb-0">Add New Skills</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center  table-flush">
                            <thead>
                                
                                <tr >
                                    <th scope="col"><h3 class="text-dark mb-0">Skill category</h3></th>
                                    <th scope="col"><h3 class="text-dark mb-0">Skill Name</h3></th>
                                    <th scope="col"><h3 class="text-dark mb-0">Remove</h3></th>
                                    <th scope="col"></th>
                                    
                                </tr>
                           
                            </thead>
                            <tbody> 
                                <tr *ngFor="let skill of skills | paginate : {itemsPerPage:3,currentPage:p} ;let i=index">
    
                                    <td>{{skill.skillCategory}}</td>
                                    <td>{{skill.skillName}}</td>
                                    <td><button title="delete the skill " class="btn btn-outline-danger" type="button"
                                            (click)="onRemoveSkills(skill.skillId)"> Remove</button>
                                    </td>
                                </tr>
    
                            </tbody>
                            <pagination-controls (pageChange)="p=$event"> </pagination-controls>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>