<!-- <script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
    </script> -->
<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" routerLinkActive="active"
      [routerLink]="['/dashboard']">{{getTitle()}}</a>
    <!-- Form -->

    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" role="button" ngbDropdownToggle>
          <div class="media align-items-center">

            <div class="container">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>

            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm  font-weight-bold"></span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome {{type}} </h6>
          </div>
          <a routerLinkActive="active"  class="dropdown-item"
          [routerLink]="['/', 'login']" *ngIf="!type">
          <i class="ni ni-single-02"></i>
          <span>login</span>
        </a>
          <a routerLinkActive="active" routerLink="/userprofile" class="dropdown-item"
            [routerLink]="['/', 'userprofile']" *ngIf="type=='employee'">
            <i class="ni ni-single-02"></i>
            <span>My profile</span>
          </a>


          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item"  *ngIf="type=='employee' || type=='admin'">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>