<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                
    
            </div>
        </div>
    </div>
    <div class="container-fluid mt--4">
        <div class="row justify-content-center">
            <div class="col-xl-6 mb-5 mb-xl-0">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-muted ls-1 mb-1"></h6>
                                <h2 class="mb-0">Update Skill</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
    
                        <form>
                            <div class="form-group form-row">
                                <label for="certification" class="col-md-3 col-form-label">Certification: </label>
                                <div class="col-lg-7">
                                    <input class="form-control" formControlName="certification" type="text">
                                </div>
                            </div>
    
                                <div class="form-group form-row">
                                    <label for="start-date" class="col-md-3 col-form-label">Start Date:</label>
                                    <div class="col-lg-7">
                                        <input class="form-control" formControlName="start-date" id="dob"
                                             placeholder="start date" type="date">
                                    </div>
                                </div>
    
                                <div class="form-group form-row">
                                    <label for="end-date" class="col-md-3 col-form-label">End Date:</label>
                                    <div class="col-lg-7">
                                        <input class="form-control" formControlName="end-date" id="dob"
                                             placeholder="end date" type="date">
                                    </div>
                                </div>
        
                                <div class="form-group form-row">
                                    <label for="duration" class="col-md-3 col-form-label">Duration: </label>
                                    <div class="col-lg-7">
                                        <input class="form-control" formControlName="duration" type="text">
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <label for="expierence" class="col-md-3 col-form-label">Expierence: </label>
                                    <div class="col-lg-7">
                                        <input class="form-control" formControlName="expierence" type="text">
                                    </div>
                                </div>
    
                                <div class="form-group form-row">
                                    <label for="expertise" class="col-md-3 col-form-label">Expertise: </label>
                                    <div class="col-lg-7">
                                        <input class="form-control" formControlName="expertise" type="range" min="1" max="10">
                                    </div>
                                </div>
    
                            
        
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary mt-4">Submit </button>&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-danger mt-4">Back </button>
                                </div>
        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    