<div class="header bg-gradient-danger py-7 py-lg-8">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <h1 class="text-white">Welcome to Skill Tracker</h1>
    
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    
    
    
    
    </div>
    
    <form class="float-right col-lg-10 row-lg-12">
    
            <!-- class="input-group input-group-rounded input-group-merge  " -->
        <div >
          <input type="search" class="form-control  form-control-underlined col-lg-9 row-lg-12  "
                placeholder="Search" aria-label="Search" routerLink='/search'>
          
        </div>
    </form>
    
    
    
    
  