.searchbox {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbox input {
  width: 50vw;
  height: 7vh;
  background: transparent;
  border: linear-gradient(87deg,#36c0f5,#f56036);
  
  
  
  box-shadow: none;
  
  border-top-color:white;
  border-bottom-color: white;
 
}
::placeholder{
  color:white;
}
