<div class="header bg-gradient-danger py-7 py-lg-8">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                     <h1 class="text-white">Skill Tracker</h1>
                    <!-- <img src="../../../assets/img/brand/ski.png"> -->
                </div>
    
            </div>
        </div>
      
        
       
            <div class="searchbox">
    
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
    
                    <input #searchBox type="search" placeholder="Search . . ." (keyup)="search(searchBox.value)"
                        autofocus>
                </div>
            </div>
    
           
        
    
    </div>
    