<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row" *ngFor="let skill of associateSkills; let i = index">
      <div class="col-lg-7 col-md-10" *ngIf="i==0">
        <h1 class="display-2 text-white">Hello {{skill.aid.associateFirstName}} </h1>
        <!-- <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
        <a href="#!" class="btn btn-info">Edit profile</a> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">

        </div>


      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>

          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <!-- <div class="row" *ngFor="let skill of associateSkills; let i = index">
                <div class="col-lg-6">
                  <div class="form-group" *ngIf="i==0">
                    <label class="form-control-label" for="input-username">Associate ID</label>
                    <input type="text" id="input-associateID" class="form-control form-control-alternative" disabled
                      value="{{skill.aid.associateEmail}}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group" *ngIf="i==0">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" disabled
                      placeholder="Email" value="{{skill.aid.associateEmail}}">
                  </div>
                </div>
              </div> -->
              <div class="row" *ngFor="let skill of associateSkills; let i = index">
                <div class="col-lg-6">
                  <div class="form-group" *ngIf="i==0">
                    <label class="form-control-label" for="input-first-name">Associate First name</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" disabled
                      placeholder="First name" value="{{skill.aid.associateFirstName}}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group" *ngIf="i==0">
                    <label class="form-control-label" for="input-last-name">Associate Last name</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      placeholder="Last name" disabled value="{{skill.aid.associateLastName}}">
                  </div>
                </div>
              </div>

              <div class="row" *ngFor="let skill of associateSkills; let i = index">
                 
                  <div class="col-lg-6">
                    <div class="form-group" *ngIf="i==0">
                      <label class="form-control-label" for="input-email">Email address</label>
                      <input type="email" id="input-email" class="form-control form-control-alternative" disabled
                        placeholder="Email" value="{{skill.aid.associateEmail}}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="form-group" *ngIf="i==0">
                        <label class="form-control-label" for="input-email">Mobile</label>
                        <input type="email" id="input-mobile" class="form-control form-control-alternative" disabled
                          placeholder="Mobile" value="{{skill.aid.associateMobile}}">
                      </div>
                    </div>
                </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">

              </div>
              <div class="row" *ngFor="let skill of associateSkills; let i = index">
                <div class="col-lg-6">
                  <div class="form-group" *ngIf="i==0">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative"
                      placeholder="Country" disabled value="{{skill.aid.country}}">
                  </div>
                </div>
                <!-- <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City">
                  </div>
                </div> -->


              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Skill Details</h6>
            <div class="row" *ngFor="let skill of associateSkills; let i = index">
              <div class="pl-lg-4">
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Skill Category</label>
                        <input id="input-skillCategory" class="form-control form-control-alternative"
                          value="{{skill.sid.skillCategory}}" placeholder="category" disabled>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">Skill Name</label>
                        <input type="text" id="input-skillName" class="form-control form-control-alternative"
                          value="{{skill.sid.skillName}}" placeholder="skillName" disabled>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <h6 class="heading-small text-muted mb-4">Skill Info</h6> -->
              <div class="pl-lg-4">
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Certification</label>
                        <input id="input-certification" value="{{skill.certification}}" disabled
                          class="form-control form-control-alternative">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">Duration</label>
                        <input type="text" id="input-duration" disabled class="form-control form-control-alternative"
                          value="{{skill.duration}}" placeholder="duration">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">Experience</label>
                        <input type="text" id="input-experience" class="form-control form-control-alternative"
                          value="{{skill.experience}}" placeholder="Experience" disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>