<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<div class="row">
    <div class="col-md-8 col-xl-6 mx-auto">
        <div class="card mt-1">
            <div class="card-header">
                <h4>Add Associates</h4>

            </div>
            <div class="card-body">
                <form role="form" [formGroup]="addAssociateForm">

                    <div class="form-group form-row" [ngClass]="{'has-error' : forErrors.associateFirstName}">


                        <label for="associateFirstName" class="col-md-4 col-form-label">First Name:</label>
                        <div class="col-md-8">
                            <input class="form-control" formControlName="associateFirstName"
                                [(ngModel)]="AssociateModel.associateFirstName" placeholder=" first Name" type="text"
                                (blur)="logValidationErrors()" />
                            <span class="help-block" *ngIf="forErrors.associateFirstName">

                                <span class="text-danger"> {{forErrors.associateFirstName}}</span>
                            </span>

                        </div>

                    </div>

                    <div class="form-group form-row" [ngClass]="{'has-error' : forErrors.associateLastName}">
                        <label for="associateLastName" class="col-md-4 col-form-label">Last Name:</label>
                        <div class="col-md-8">
                            <input class="form-control" [(ngModel)]="AssociateModel.associateLastName"
                                formControlName="associateLastName" placeholder=" Last Name" type="text"
                                (blur)="logValidationErrors()" />
                            <span class="help-block" *ngIf="forErrors.associateLastName">

                                <span class="text-danger"> {{forErrors.associateLastName}}</span>
                            </span>
                        </div>
                    </div>


                    <div class="form-group form-row" [ngClass]="{'has-error' : forErrors.associateEmail}">
                        <label for="associateEmail" class="col-md-4 col-form-label">Email:</label>
                        <div class="col-md-8">
                            <input class="form-control" formControlName="associateEmail"
                                [(ngModel)]="AssociateModel.associateEmail" placeholder="Email " type="email"
                                (blur)="logValidationErrors()">
                            <span class="help-block" *ngIf="forErrors.associateEmail">

                                <span class="text-danger"> {{forErrors.associateEmail}}</span>
                            </span>
                        </div>
                    </div>


                    <div class="form-group form-row" [ngClass]="{'has-error' : forErrors.password}">
                        <label for="password" class="col-md-4 col-form-label">Password:</label>
                        <div class="col-md-8">
                            <input class="form-control" formControlName="password" [(ngModel)]="AssociateModel.password"
                                placeholder="password" type="password" (blur)="logValidationErrors()">
                            <span class="help-block" *ngIf="forErrors.password">

                                <span class="text-danger"> {{forErrors.password}}</span>
                            </span>
                        </div>
                    </div>


                    <div class="form-group form-row" [ngClass]="{'has-error' : forErrors.associateMobile}">
                        <label for="associateMobile" class="col-md-4 col-form-label">Mobile number:</label>
                        <div class="col-md-8">
                            <input class="form-control" formControlName="associateMobile" id="associateMobile"
                                [(ngModel)]="AssociateModel.associateMobile" placeholder="phone number" type="tel"
                                (blur)="logValidationErrors()">
                            <span class="help-block" *ngIf="forErrors.associateMobile">

                                <span class="text-danger"> {{forErrors.associateMobile}}</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group form-row" [ngClass]="{'has-error' : forErrors.dob}">
                        <label for="dob" class="col-md-4 col-form-label">Date of Birth:</label>
                        <div class="col-md-8">
                            <input class="form-control" formControlName="dob" id="dob" [(ngModel)]="AssociateModel.dob"
                                placeholder="date of birth" type="date" (blur)="logValidationErrors()">
                            <span class="help-block" *ngIf="forErrors.dob">

                                <span class="text-danger"> {{forErrors.dob}}</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group form-row" [ngClass]="{'has-error' : forErrors.gender}">
                        <label for="gender" class="col-md-4 col-form-label">gender:</label>
                        <div class="col-md-8">

                            <div *ngFor="let gender of genders">
                                <div class="form-check">
                                    <label [for]="gender" class="form-check-label">{{gender}} &nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;

                                        <input type="radio" class="form-check-input" formControlName="gender"
                                            [(ngModel)]="AssociateModel.gender" [id]="gender" [value]="gender"
                                            (blur)="logValidationErrors()">
                                    </label>
                                    <span class="help-block" *ngIf="forErrors.gender">

                                        <span class="text-danger"> {{forErrors.gender}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-row" [ngClass]="{'has-error' : forErrors.location}">
                        <label for="location" class="col-md-4 col-form-label">location:</label>
                        <div class="col-md-8">
                            <input class="form-control" [(ngModel)]="AssociateModel.location" formControlName="location"
                                id="location" placeholder="location" type="text" (blur)="logValidationErrors()">
                            <span class="help-block" *ngIf="forErrors.location">

                                <span class="text-danger"> {{forErrors.location}}</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group form-row" [ngClass]="{'has-error' : forErrors.country}">
                        <label for="country" class="col-md-4 col-form-label">country:</label>
                        <div class="col-md-8">
                            <select class="form-control" id="country" formControlName="country"
                                [(ngModel)]="AssociateModel.country" placeholder="country"
                                (blur)="logValidationErrors()">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                            <span class="help-block" *ngIf="forErrors.country">

                                <span class="text-danger"> {{forErrors.country}}</span>
                            </span>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="button" class="btn btn-primary mt-4" (click)="onRegister(AssociateModel)">Add
                            Associate </button>
                    </div>

                </form>

                {{addAssociateForm.value| json}}
            </div>
        </div>
    </div>
</div>